.header-container {
  display: flex;
  height: 5.938rem;
  background-color: #fff;
  padding-left: 6.25rem;
}

.nav-bar {
  display: flex;
  margin-top: 37px;
  padding-left: 15px;
}

.list-1 {
  padding-left: 30px;
  text-decoration: none;
  font-family: monospace;
  font-size: 0.813rem;
  color: #121212;
}

.main-header {
  font-family: monospace;
  font-size: 1.875rem;
  font-weight: bold;
  color: #0290ff;
}
